<h3>Welcome <%= @user.email %> !!!</h3>
<h4>The post created by you are : </h4>

<% @user_posts.each do |post| %>
<%= link_to post.title, post_path(post) %>



	<% end %>
	<br>
	<br>

	<%= link_to 'Back', posts_path %>